[Unit]
Description=fastapi application for posts
After=network.target

[Service]
User=mali
Group=mali
WorkingDirectory=/home/mali/app/src/
Environment="PATH=/home/mali/app/venv/bin"
EnvironmentFile=/home/mali/app/src/.env
ExecStart=/home/mali/app/venv/bin/gunicorn -w 4 -k uvicorn.workers.UvicornWorker app.main:app --bind 0.0.0.0:8000

[Install]
WantedBy=multi-user.target